{% extends 'base2.html' %}

    {% block conteudo %}
    <div class="container mt-4">
        <main>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Caso queira informações sobre este projeto, entre em contato nas redes sociais</h5>
                            <div class="d-flex justify-content-center">
                                <a href="https://www.linkedin.com/in/otavio-portela-b7426019b/" target="_blank" class="btn btn-primary m-2">
                                    <i class="fab fa-linkedin"></i> LinkedIn
                                </a>
                                <a href="https://github.com/OtavioPortela" target="_blank" class="btn btn-secondary m-2">
                                    <i class="fab fa-github"></i> GitHub
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    {% endblock %}