{% extends 'base2.html' %}

{% block conteudo %}


    <div class="container mt-4">
        <main>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Bem-vindo ao Jogo da Forca Tecnológica!</h5>
                            <br>
                            <p>Neste desafiante jogo, você terá a oportunidade de testar seus 
                                conhecimentos em termos relacionados à tecnologia, incluindo 
                                linguagens de programação, frameworks e outros conceitos 
                                fascinantes do mundo digital.</p>
                            <br>
                            <p><strong>DICA: {{ dica }}</strong></p>
                            <h2>{{ espacos }}</h2>
                            <br>
                            <div class="tentativa">
                                
                                <input  class="botao" id="inseriLetra" type="text" maxlength="1" name="letra"><br/>
                                <button id="enviar" type="submit" onclick="clicou()">Enviar</button>
                                
                                </div>
                            <p id="mostra">tentativas: </p>
                            <p id="listaLetras"> Letras selecionadas: </p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    
    <script>
        function clicou(){
            letra = document.getElementById('inseriLetra').value;
            aux = 
            console.log(letra);
            document.getElementById('mostra').innerHTML ="TENTATIVA: " + letra;
            
            document.getElementById('listaLetras').innerHTML = 'lista de letras: ['+aux+']';
                    
        }

        
    </script>
   
        
{% endblock %}