{% extends 'base2.html' %}

{% block conteudo %}


    <div class="container mt-4">
        <main>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Projeto Desenvolvido em Flask</h5>
                            <br>
                            <br>
                            <h2>{{ marcacao }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    


{% endblock %}